tr.even.testswarm-failed {
  background-color: rgba(255, 0, 0, 0.106);
}
tr.odd.testswarm-failed {
  background-color: rgba(255, 0, 0, 0.200);
}

tr.even.testswarm-passed {
  background-color: rgba(0, 255, 0, 0.106);
}
tr.odd.testswarm-passed {
  background-color: rgba(0, 255, 0, 0.200);
}

tr.even.testswarm-untested {
  background-color: rgba(255, 255, 0, 0.106);
}
tr.odd.testswarm-untested {
  background-color: rgba(255, 255, 0, 0.200);
}
